@model MVC_Lab5.Models.PriceOffers

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>PriceOffers</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PriceOffersId" class="control-label"></label>
                <input asp-for="PriceOffersId" class="form-control" />
                <span asp-validation-for="PriceOffersId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewPrice" class="control-label"></label>
                <input asp-for="NewPrice" class="form-control" />
                <span asp-validation-for="NewPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PromotionalText" class="control-label"></label>
                <input asp-for="PromotionalText" class="form-control" />
                <span asp-validation-for="PromotionalText" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BookId" class="control-label"></label>
                <select asp-for="BookId" class ="form-control" asp-items="ViewBag.BookId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

